<!DOCTYPE html>
<html>

<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

    </br>
    <div th:fragment="habitacionesForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
    
    <form>
        <label class="col-form-label">Numero de Habitacion:</label>
        <input class="form-control" type="text" id="numero_habitacion" name="numero_habitacion" required th:value="${habitacion.numero_habitacion}" />
        <label class="col-form-label">Tipo:</label>
        <input class="form-control" type="text" id="tipo" name="tipo" required th:value="${habitacion.tipo}" />
        <label class="col-form-label">Costo:</label>
        <input class="form-control" type="text" id="costo" name="costo" required th:value="${habitacion.costo}" />
        <label class="col-form-label">Capacidad:</label>
        <input class="form-control" type="text" id="capacidad" name="capacidad" required th:value="${habitacion.capacidad}" />
       
        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/habitaciones}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>

    </br>
</div>

</body>

</html>